

html { font-size: 62.5%; }

body {
    background: white;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    color: #222222;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.youtube {
    border: 5px solid black;
    margin-bottom: 17px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
}
