<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>$title$ | blog post</title>
    <link rel="stylesheet" href="../../../css/foundation.css" />
    <link rel="stylesheet" href="../../../css/app.css" />
    <link rel="author" href="https://plus.google.com/113308089467508203156?rel=author" />
    <link rel="up" href="../../" />
    <link rel="contents" href="../../" />
    <script src="../../../js/libs/modernizr.foundation.js"></script>
</head>
<body>


<div class="row">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-7399904085557293";
    /* bneijt.nl leaderboard */
    google_ad_slot = "5804718856";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>


<div class="row">
    <h1>
        <small><a href="../../">blog</a> post</small>
        <br/>$title$
    </h1>
    <h6>Written by <author>$author$</author> on <time datetime="$published$">$humanizedPublished$</time>.</h6>
</div>
</div>
<div class="row">
    <div class="ten columns" role="content">
        <article>
            <div class="row">
                $body$
            </div>
        </article>
    </div>
</div>


<div class="row">
    <div class="ten columns">
        <div class="six columns panel radius centered">
            <p>Powered by <a href="http://jaspervdj.be/hakyll/">hakyll</a>.
                © Copyright <a href="/">bneijt</a>.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="ten columns">


        <!-- START: Livefyre Embed -->
        <div id="livefyre-comments"></div>
        <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
        <script type="text/javascript">
            (function () {
                var articleId = fyre.conv.load.makeArticleId(null);
                fyre.conv.load({}, [
                    {
                        el: 'livefyre-comments',
                        network: "livefyre.com",
                        siteId: "320826",
                        articleId: articleId,
                        signed: false,
                        collectionMeta: {
                            articleId: articleId,
                            url: fyre.conv.load.makeCollectionUrl(),
                        }
                    }
                ], function () {
                });
            }());
        </script>
        <!-- END: Livefyre Embed -->
    </div>
</div>
</body>
</html>
